<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>4744742253-n1dmka4jaig65e15ifm72gug82c1igaf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.4744742253-n1dmka4jaig65e15ifm72gug82c1igaf</string>
	<key>API_KEY</key>
	<string>AIzaSyCHNB6lWtXT7VxJmAfumeibAkRI3FvgbyM</string>
	<key>GCM_SENDER_ID</key>
	<string>4744742253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.cordova.myapp35beca</string>
	<key>PROJECT_ID</key>
	<string>ginloversteste-161518</string>
	<key>STORAGE_BUCKET</key>
	<string>ginloversteste-161518.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:4744742253:ios:fd505ffac3a005c0</string>
	<key>DATABASE_URL</key>
	<string>https://ginloversteste-161518.firebaseio.com</string>
</dict>
</plist>